prontuarioapp/__pycache__/*
/apps/pessoa/__pycache__/*
/apps/pessoa/migrations/*
/apps/paciente/__pycache__/*
/apps/paciente/migrations/*
/apps/profissionalSaude/__pycache__/*
/apps/profissionalSaude/migrations/*
/apps/exame/__pycache__/*
/apps/exame/migrations/*
/apps/prontuario/__pycache__/*
/apps/prontuario/migrations/*